

#eventos{
    width: 100%;
    height: auto;
    padding: 20px;
    position: relative;
    overflow: hidden;
    padding: 90px 50px 160px 50px;
    background-image: url( '../assets/SVG/PaperBackground.svg' );
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.paper-bg{
    opacity: 0.6;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    z-index: -1;
}

.Eventos_title{
    width: 100%;
    padding: 30px;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    font-family: "BariolBold";
    font-size: 5vh;
    color: #6b5617;
}

.Eventos_title h2{
    margin-left: 0;
    margin-right: 0;
}

.dottedLines{
 border: none;
  border-top: 5px dotted #6b5617;
  color: #fff;
  background-color: transparent;
  height: 2px;
  width: 20vw;
}

.tableContainer{
    padding: 0 10%;
}

.tabla{
    width: 100%;
    border-collapse: separate;
    border-spacing: 3px;
}

.tabla thead{
    background-color: #9c802a60;
}

.tabla thead tr th{
    font-size: 20px;
    font-family: "Raleway", serif;
    font-weight: 700;
    letter-spacing: 0.35px;
    color: #937828;
    opacity: 1;
    padding: 12px;
    vertical-align: top;
    
}


tr:nth-child(odd) td{
    background-color: #ffffff;
  }


tr:nth-child(even) td{
    background-color: #b499476c;
  }


.tabla tbody tr td{
    font-family: "Raleway", serif;
    letter-spacing: 0.35px;
    padding: 20px;
    text-align: justify;
    
}