

#eventos{
    width: 100%;
    height: auto;
    padding: 20px;
    position: relative;
    overflow: hidden;
    padding: 90px 50px 160px 50px;
    background-color: beige;
    background: radial-gradient(circle, #e3e3e3 10%, transparent 11%),radial-gradient(circle at bottom left, #e3e3e3 5%, transparent 6%),radial-gradient(circle at bottom right, #e3e3e3 5%, transparent 6%),radial-gradient(circle at top left, #e3e3e3 5%, transparent 6%),radial-gradient(circle at top right, #e3e3e3 5%, transparent 6%);
        background-size: 6em 6em;
        background-color: #f5f5dc;
        opacity: 1
}

.paper-bg{
    opacity: 0.6;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    z-index: -1;
}
  

.Eventos_title{
    width: 100%;
    padding: 30px;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: "BariolBold";
    font-size: 5vh;
}

.tableContainer{
    padding: 0 10%;
}

.tabla{
    width: 100%;
    border-collapse: collapse;
}

.tabla thead{
    background-color: #f8ddb9 !important;
}

.tabla thead tr th{
    font-size: 20px;
    font-family: "Raleway", serif;
    font-weight: 700;
    letter-spacing: 0.35px;
    color: #e69225;
    opacity: 1;
    padding: 12px;
    vertical-align: top;
    
}

tr:nth-child(odd) td{
    background-color: #fff3e2;
  }


tr:nth-child(even) td{
    background-color: #f5e4cc;
  }


.tabla tbody tr td{
    font-family: "Raleway", serif;
    letter-spacing: 0.35px;
    padding: 20px;
    text-align: justify;
}